<xml version="1.0" encoding="UTF-8:/>
	<widget xmlns	=	"http://www.w3.org/ns/widgets"
		xmlns:gap	=	"http://phonegap.com/ns/q.0"
		id			=	"com.adamlroberts.weather"
		version		=	"0.0.5"
		>
	<name>Thermo Weather</name>
	
	<description>
		For Fun
	</description>
	
	<author href="http://adamlroberts.com/" email="adamlroberts@adamlroberts.com">
		Adam Roberts
	</author>
	
	<platform 	name	="android"/>
	<splash 	src	="splash.png"/>
	<preference 	name	="orientation" 	value="portrait"/>>
	<preference 	name	="fullscreen"	value="true"/>
</widget>
